.ListItem {
    color:rgb(255, 255, 255);
    padding: 1rem;
    margin: 0.5rem;
    font-size:large;
    list-style-type:none;

}

.trashIcon {
    margin: 0 1%;
    font-size: large;
    /* display: inline-block; */
    color:black;

}

.trashIcon:hover {
    color:crimson
}

.completed {
  text-decoration: line-through;
  color: gray;
}